{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Welcome Email Template</title>
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

</head>
<body>
    
    <div class="card">
        <div class="card-body">

            <h1>Welcome, {{serach_user.first_name}} {{serach_user.last_name}}!</h1>
    
            <p>Thank you for registering an account with us.</p>
            
            <p>Here are your login details:</p>
            <ul>
                <li><strong>Username:</strong><span class="badge bg-success"> {{username}}</span></li>
                <li><strong>Password:</strong> <span class="badge bg-success"> {{password}}</span></li>
            </ul>
            
            <p>Please keep your login details secure and do not share them with anyone.</p>
            
            <p>You can log in to your account using the following button:</p>
            <p>
                <a href="https://ohrms-for-qa.onrender.com/">
                    <button style="background-color: #4CAF50; color: white; padding: 10px 20px; border: none; border-radius: 4px; cursor: pointer;">Log in</button>
                </a>
            </p>
            
            <p>If you have any questions or need assistance, feel free to contact our support team.</p>
            
            <p>Thank you again for joining us!</p>
            
            <p>Best regards,<br>
            Your OHRMS</p>

        </div>
    </div>
    
</body>
</html>