<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>House Booking Request Approved</title>
</head>
<body>
    <h2>House Booking Request Approved</h2>
    <p>Dear [User's Name],</p>
    
    <p>We are pleased to inform you that your house booking request has been successfully approved! We appreciate your interest in renting one of our properties.</p>
    
    <h3>Booking Details:</h3>
    
    <ul>
        <li><strong>Booking ID:</strong> [Booking ID]</li>
        <li><strong>Property:</strong> [Property Name]</li>
        <li><strong>Check-in Date:</strong> [Check-in Date]</li>
        <li><strong>Check-out Date:</strong> [Check-out Date]</li>
        <li><strong>Number of Guests:</strong> [Number of Guests]</li>
    </ul>
    
   
    
   
    <p>Best regards,</p>
    <p>OHRMS<p>
    <span>ohrms@gmail.com</span>
</body>
</html>