{% extends 'base.html' %}
{% block content %}
{% load static %}

      <div class="row">
       {% if messages %}
         {% for mess in messages %}
         <div class="alert alert-success alert-dismissible fade show" role="alert">
         {{mess}}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

         {% endfor %}
       {% endif %}
        <div class="col-lg-12">
          <div class="row">
            <!-- Sales Card -->
            {% if all_aproved_house %}
            {% for house in all_aproved_house %}
            <div class="col-xxl-3 col-md-6">
              <div class="card">
                <a href="{% url 'house-detail' house.id  %}">
                  {% if house.image1  %}
                <img src="{{house.image1.url}}" class="card-img-top" alt="...">
                  {% endif %}
              </a>
                <div class="card-body">
                  <hr>
                  <p>
                    Location: <span>{{house.location}}</span>
                  </p>
                  <p>
                    Price: <span>{{house.price}}</span>
                  </p>
                </div>
             
              </div><!-- End Card with an image on top -->
    
            </div><!-- End Sales Card -->
            {% endfor %}
            {% endif %}
            </div><!-- End Sales Card -->
          </div>
        </div><!-- End Left side columns -->

{% endblock %}