{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Welcome Email Template</title>
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

</head>
<body>
 
<p>Hello, Efrem</p>
<p>You are receiving this email because a password reset request was made for your account.</p>
<p>Please click on the link below to reset your password:</p>
<p>
  <a href="{{ password_reset_url }}">{{ password_reset_url }}</a>
</p>
<p>If you did not request a password reset, you can safely ignore this email.</p>

</body>
</html>
